/* Variables */
:root {
    --primary-background-colour: purple;
    --primary-text-colour: white;
}


/* Fonts */

.playwrite-de-grund-headers {
    font-family: "Playwrite DE Grund", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* General Styling */

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;

}

/* Navbar and footer styling */

.navbar,
.navbar-brand,
.navbar-toggler,
.nav-item,
.nav-item a,
.nav-item-active,
.footer {
    background-color: var(--primary-background-colour);
    color: var(--primary-text-colour);
}

/* Target all text elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
div {
    font-family: "Playwrite DE Grund", serif;

}

/* Custom button styling */

.btn-primary {
    background-color: purple;
    color: white;
    border: none;
}
/* Added a maximum height to the images in order to shrink the overall size of the cards, as the images fetched from BGG are not uniform in size. */
.card img {
    max-height: 400px;
}

/* Spinner. The script to pull information from BGG takes a long time to load, this is to make sure the user does not think it has failed. */

.loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}